fieldset {
    width: 50%;
    margin-top: 1%;
    background-color: linear-gradient(280deg,rgb(0, 133, 133),rgb(74, 54, 138),rgb(175, 7, 223));
    border: 2px solid black;    
}

input {
  border-radius: 0;
  outline: 0;
  border: 1px solid black;
  padding: 7px 4px;
}

legend {
  padding: 0 5px 0 5px;
}

h1 {
  font-family: 'Satisfy', cursive;
  font-size: 60px;
  color: black;
}

hr {
  border: 1.5px solid rgb(27, 168, 133);
  margin-left: 20px;
  margin-right: 20px;
}

#output {
    font-size: 100px;
}

#age-label {
  margin-top: 10px;
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: beige;
  background-image: linear-gradient(140deg,rgb(0, 133, 133),rgb(74, 54, 138),rgb(175, 7, 223));
}

#button {
    margin-top: 30%;
    margin-bottom: 40%;
    padding: 12px 36px;
    outline: none;
    border: 1px solid whitesmoke;
    color: blanchedalmond;
    font-size: 15px;
    font-weight: 900;
    background-image: linear-gradient(270deg, rgb(0, 133, 133),rgb(73, 68, 75));
}

.font {
  font-size: 14px;
}

.slider {
  margin-left: 4%;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 330px) , (max-width: 420px) {
  h1 {
    font-size: 1.5em;
  }

  fieldset {
    padding-left: 10%;
    padding-right: 10%;
  }

  .equal {
    padding-left: 36px;
    padding-right: 37px;
    width: 210px;
  }
}