fieldset {
    width: 50%;
    margin-top: 1%;
    background-color: linear-gradient(280deg,rgb(0, 133, 133),rgb(74, 54, 138),rgb(175, 7, 223));
    border: 2px solid black;
    padding-left: 10%;
    padding-right: 10%;
}

legend {
  padding: 0 5px 0 5px;
}

h1 {
  font-family: 'Satisfy', cursive;
  font-size: 60px;
  color: black;
}

hr {
  border: 1.5px solid rgb(27, 168, 133);
  margin-left: 20px;
  margin-right: 20px;
}

#output {
    font-size: 100px;
    margin-bottom: 5%;
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: beige;
  background-image: linear-gradient(140deg,rgb(0, 133, 133),rgb(74, 54, 138),rgb(175, 7, 223));
}

.button {
    margin-top: 1%;
    margin-bottom: 2%;
}

.font {
  font-size: 14px;
}

.slider {
  margin-top: 6%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 360px) ,(min-width: 420px) {
  h1 {
    font-size: 1.5em;
  }
}